/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.btn-nisum {
    background: #00cfff;
    background: linear-gradient(to bottom, #6e12ff, #0019ff, #00cfff);
    color: #fff;
    border: none;
    margin: 2px;
    
}

.btn-nisum:hover {
    color: #fff!important;
}