<div>
  <nav class="navbar navbar-light" style="background-color: #5cb4f4">
    <a class="navbar-brand" href="#">
      <img src="../assets/logo/image.png" width="150" height="50" />
    </a>
  </nav>
</div>
<div>
  <br />
  <div class="text-center"><h2>Login</h2></div>

  <div class="text-center">
    <a
      class="btn btn-lg btn-google btn-block text-uppercase btn-outline"
      href="#"
      ><img
        src="https://img.icons8.com/color/16/000000/google-logo.png"
        width="30"
        height="30"
      />
      Sign-in With Google</a
    >
  </div>
</div>
