<div>
  <div>
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Edit Product</h2>
        <button mat-button mat-dialog-close class="btn btn-danger">X</button>
      </div>
      <hr />

      <!-- body -->
      <div class="modal-body">
        <form [formGroup]="productForm" (ngSubmit)="editProduct()">
          <div class="form-group">
            <label for="upc">
              <h1>
                <b> UPC : {{ products ? products.upc : "" }} </b>
              </h1>
            </label>
          </div>

          <div class="form-group">
            <label for="prodName"><b>Product Name</b></label>
            <input
              type="string"
              class="form-control"
              id="prodName"
              formControlName="prodName"
              placeholder="Edit Product Name"
            />

            <small
              *ngIf="prodName && prodName.invalid && prodName.touched"
              style="color: red"
              >This field is required</small
            >
          </div>

          <div class="form-group">
            <label for="brand"><b>Brand</b></label>
            <input
              type="string"
              class="form-control"
              id="brand"
              formControlName="brand"
              placeholder="Edit Brand"
            />

            <small
              *ngIf="brand && brand.invalid && brand.touched"
              style="color: red"
              >This field is required</small
            >
          </div>

          <div class="form-group">
            <label for="prodDesc"><b>Product Description</b></label>
            <input
              type="string"
              class="form-control"
              id="prodDesc"
              formControlName="prodDesc"
              placeholder="Edit Product Description"
            />

            <small
              *ngIf="
                prodDescription &&
                prodDescription.invalid &&
                prodDescription.touched
              "
              style="color: red"
              >This field is required</small
            >
          </div>

          <div class="form-group">
            <label for="category"><b>Category</b></label>
            <input
              type="string"
              class="form-control"
              id="category"
              formControlName="category"
              placeholder="Edit Category"
            />
            <small
              *ngIf="category && category.invalid && category.touched"
              style="color: red"
              >This field is required</small
            >
          </div>

          <div class="form-group">
            <label for="pricePerUnit"><b>Price per Unit</b></label>
            <input
              type="string"
              class="form-control"
              id="pricePerUnit"
              formControlName="pricePerUnit"
              placeholder="Edit Product Price per Unit"
            />

            <small
              *ngIf="
                pricePerUnit && pricePerUnit.invalid && pricePerUnit.touched
              "
              style="color: red"
              >Enter valid dollar amount</small
            >
          </div>

          <div class="form-group">
            <label for="imageURL"><b>Image URL</b></label>
            <input
              type="string"
              class="form-control"
              id="imageURL"
              formControlName="imageURL"
              placeholder="Edit Image"
            />

            <small
              *ngIf="imageURL && imageURL.invalid && imageURL.touched"
              style="color: red"
              >This field is required</small
            >
          </div>

          <div class="form-group">
            <label for="availableStock"><b>Available Stock</b></label>
            <input
              type="string"
              class="form-control"
              id="availableStock"
              formControlName="availableStock"
              placeholder="Edit Available Stock"
            />

            <small
              *ngIf="
                availableStock &&
                availableStock.invalid &&
                availableStock.touched
              "
              style="color: red"
              >This field is required</small
            >
          </div>

          <div class="form-group">
            <label for="reservedStock"><b>Reserved Stock</b></label>
            <input
              type="string"
              class="form-control"
              id="reservedStock"
              formControlName="reservedStock"
              placeholder="Edit Reserved Stock"
              [disabled]="true" readonly="readonly"
            />

            <small
              *ngIf="
                reservedStock && reservedStock.invalid && reservedStock.touched
              "
              style="color: red"
              >This field is required</small
            >
          </div>

          <div class="form-group">
            <label for="shippedStock"><b>Shipped Stock</b></label>
            <input
              type="string"
              class="form-control"
              id="shippedStock"
              formControlName="shippedStock"
              placeholder="Edit Shipped Stock"
              [disabled]="true" readonly="readonly"
            />

            <small
              *ngIf="
                shippedStock && shippedStock.invalid && shippedStock.touched
              "
              style="color: red"
              >This field is required</small
            >
          </div>

          <br />
          <div>
            <button class="btn btn-nisum" type="submit">Update</button>
            &nbsp;
            <button mat-button mat-dialog-close class="btn btn-danger">
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
