<!-- <nav class="navbar navbar-light bg-light"><div class="container-fluid"><img src="../assets/NisumLogo.png" style="height: 50px;"></div></nav> -->


<nav class="navbar navbar-light bg-light">
   <div class="container-fluid">
     <a class="navbar-brand nav-link" routerLinkActive="active" routerLink="/home">
           <img src="../assets/NisumLogo.png" height="40" class="d-inline-block align-text-top"/>
     </a>
     <ul class="ms-auto">
       <!-- <li class="btn"><a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a></li>
       <li class="btn"><a class="nav-link" routerLinkActive="active" routerLink="/all">All Orders</a></li> -->
       
       <!-- <li class="btn btn-danger"><a class="nav-link" routerLinkActive="active" routerLink="/#">Logout</a></li> -->
       
       <!-- <li class="btn"><a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a></li> -->
       
     </ul>

    <div  class="btn dropdown-toggle" type="button" data-toggle="dropdown"> <i class="bi bi-person-circle" ></i> </div>
     <div class="dropdown-menu">
       <div class="dropdown-item"><a class="nav-link" routerLinkActive="active" routerLink="/login">Log Out</a></div>
     </div>
 
 
   </div>
 </nav>

<div class="container">


   <router-outlet></router-outlet>
</div>


