<div class="card-block">
  <button class="btn btn-danger" (click)="signOut()">Sign out</button>
</div>
<cdk-virtual-scroll-viewport tvsItemSize="16" class="wrapper">
  <mat-table [dataSource]="dataSource" matSort #productSort="matSort">
    <ng-container
      *ngFor="let item of displayProductTable | keyvalue"
      [matColumnDef]="item.key"
    >
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ item.value | titlecase }}
      </mat-header-cell>
      <mat-cell *matCellDef="let product">{{ product[item.key] }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="View/Edit">
      <mat-header-cell *matHeaderCellDef> View/Edit </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button
          mat-button
          mat-raised-button
          class="btn btn-primary"
          class="btn btn-primary"
          (click)="editPopUp(row)"
        >
          Edit
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Delete">
      <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button
          mat-button
          mat-raised-button
          class="btn btn-danger"
          (click)="openDialog(row)"
        >
          Delete
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns; let i = index"
      (click)="selectedRow(row)"
      [ngClass]="{ highlightTableColor: selectedRowIndex == i }"
    ></mat-row>
  </mat-table>
</cdk-virtual-scroll-viewport>
