<!-- <p>product-detail-modal works!</p> -->

<div class="product-details-container">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title> Name: {{data.prodName}} </mat-card-title>
      <mat-card-subtitle>Category: {{data.category}} </mat-card-subtitle>
      <mat-card-subtitle>Brand: {{data.brand}}</mat-card-subtitle>
    </mat-card-title-group>
    <!-- <img mat-card-image src="https://m.media-amazon.com/images/I/51Xlrk8SOaL.jpg"> -->
    <mat-card-content>
      <div class="img-wrapper">
        <img src={{data.imageURL}} alt="">
      </div>

      <p>{{data.prodDesc}}</p>
    </mat-card-content>
  </mat-card>
</div>